.about{
    background-color: rgba(128, 128, 128, 0.219);
    color: white;
    padding-right: 10px;
    text-align: center;
}

.about ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .about a {
    color: white;
  }