.header{
    background-color: hsla(0, 0%, 100%, 0);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    position: relative;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .header a {
    color: white;
  }